@(message: String)
<section id="addToRoulette">
    <header>
        <h2 class="flashmessage"></h2>
    </header>
        <div>
            <form id="addUser" method="post" action="">
                <fieldset>
                    <label>
                        <span class="label">Email:</span>
                        <input id="formEmail" type="email" name="email"/>
                    </label>
                    <br />

                    <br />
                    <footer>
                        <button class="button style2 scrolly" type="submit"> Enter Roulette </button>
                    </footer>
                </fieldset>
            </form>
        </div>
    </section>