@(message: String)
<section id="addToRoulette">
        <div>
            <form id="addUser" method="post" action="/addUser">
                <fieldset>
                    <label>
                        <span class="label">Email:<span>
                        <input id="formEmail" type="email" name="email"/>
                    </label>
                    <br />
                    <span class="label">@message</span>
                    <br />
                    <input type="submit" />
                </fieldset>
            </form>
        </div>
    </section>