@(users:List[models.User])
@main("CK Lunch Roulette -See Who's In t"){

    @container("Lunch Goers") {
        @for((user) <-  users) {
        <p>
                    @user.name
            <span> - </span>
                    @user.email
        </p>
        }


    }


<section id="cta" class="wrapper style3">
    <div class="container">
        <header>
            <h2>Are you ready to join the roulette?</h2>
            <a href="/add" class="button">Add Yourself!</a>
        </header>
    </div>
</section>

}