@(usersPair:List[(models.User, models.User)])
@main("CK Lunch Roulette -See Who's In t"){

    @container("Lunch Goers") {
        <table align="center">
            <tr>
                <th align="center">Name</th>
                <th align="center">Email</th>
                <th align="center">Paired With</th>
                <th align="center">Name</th>
                <th align="center">Email</th>
            </tr>
        @for((users) <-  usersPair) {
            <tr align="center">
                <td>
                    @users._1.name
                </td>
                <td>
                    @users._1.email
                </td>
                <td>
                    <->
                </td>
                <td>
                    @users._2.name
                </td>
                <td>
                    @users._2.email
                </td>
            </tr>
        }
        </table>
    }

<section id="cta" class="wrapper style3">
    <div class="container">
        <header>
            <h2>Are you ready to join the roulette?</h2>
            <a href="/add" class="button">Add Yourself!</a>
        </header>
    </div>
</section>

}